body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

div {
    display: flex;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin: 4px;
    /* flex-grow: 2; */
}

#action{
    display: flex;
    justify-content: center;
}

#main-btn{
    margin-top: 4px;
    padding: 13px;
    border-radius: 2px;
    background-color: black;
    color: white;
}